.content-card-wrap {
  background: #fff;
  max-width: 800px;
  width: 100%;
  user-select: none;
  margin-bottom: 15px;
}
.content-card-item {
  display: flex;
}
.img-box {
  width: 50%;
  padding-top: 25%;
  overflow: hidden;
  position: relative;
  transition: all .2s ease-out;
  background: linear-gradient(180deg,transparent 50%,rgba(0,0,0,.2));
}
.card-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  min-width: 100%;
  width: auto;
  height: 100%;
  -webkit-transition: width .2s ease-out,height .2s ease-out;
  transition: width .2s ease-out,height .2s ease-out;
}
.card-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  color: #292525;
  font-weight: 600;
  font-size: 20px;
  height: 57px;
  margin-bottom: 20px;
  line-height: 1.4;
  text-align: left;
}
.pc-card {
  color: #292525;
}
.card-bottom {
  color: #655e5e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left, .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: auto;
}
.pic-box {
  display: flex;
  align-items: center;
}