.content-card-wrap {
  background: #fff;
  max-width: 800px;
  width: 100%;
  user-select: none;
  margin-bottom: 15px;
  display: flex;
  /*
   * left img area
   */
  .img-box {
    width: 50%;
    padding-top: 25%;
    overflow: hidden;
    position: relative;
    transition: all .2s ease-out;
    background: linear-gradient(180deg,transparent 50%,rgba(0,0,0,.2));
    .card-image {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      min-width: 100%;
      width: auto;
      height: 100%;
      transition: width .2s ease-out,height .2s ease-out;
      vertical-align: middle;
    }
  }
  /*
   * right content
   */
  .card-content {
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    transition: all .2s ease-out;
    .title {
      color: #292525;
      font-weight: 600;
      font-size: 20px;
      height: 57px;
      margin-bottom: 20px;
      line-height: 1.4;
      text-align: left;
    }
    .card-bottom {
      color: #655e5e;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left, .right {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .header {
        cursor: pointer;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin: auto;
        margin-right: 10px;
      }
      .pc-card {
        color: #292525;
      }
      .pic-box {
        display: flex;
        align-items: center;
      }
      .name {
        margin-right: 10px;
      }
      .time {
        color: #8e8787;
      }
    }
  }
  &:hover {
    .img-box {
      width: 390px;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.1);
        pointer-events: none;
      }
      .card-image {
        height: 110%;
      }
    }
    .card-content {
      transform: translateX(-10px);
    }
  }
}
