
.index-main {
  display: flex;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  background: red;
} 
.container_content {
  flex: 1;
  margin-right: 20px;
  background: green;
}
.container_nav {
  width: 252px;
}
/* .post-list-main h2.title {
  position: relative;
  display: inline-block;
}

.post-list-main h2.title::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fc2f70;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.post-list-main h2.title:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}
.post-list-main h2.title {
  position: relative;
}

.post-list-main h2.title::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fc2f70;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

h2.heading:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}
@media only screen and (max-width: 850px) {
  .sidebar{display: none;}
  .index-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
} */