
.index-main {
  display: flex;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
} 

.container_nav {
  width: 252px;
}

.choice_wrap {
  .choice_title {
    background: #fff;
    padding: 15px;
  }
}
/*
 * 主内容区域
 */
 .container_content {
  flex: 1;
  margin-right: 20px;
  
}
/*
 * banner区域
 */
.banner_wrap {
  cursor: pointer;
  .customized-swiper-pagination {
    bottom: 30px;
    margin: auto;
    width: 100%;
    text-align: center;
    &.swiper-pagination-bullets {
      bottom: 30px;
    }
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background-color: #fff;
      opacity: .48;
      margin-right: 15px;
      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
  .customized-swiper-button-next {
    right: 160px;
    background: url('../images/right.svg') no-repeat 50%/100% 100%;
    width: 36px;
    height: 36px;
    display: none;
    transition: .3s;
    &.swiper-button-next:after {
      content: none;
    }
  }
  .customized-swiper-button-prev {
    left: 160px;
    background: url('../images/left.svg') no-repeat 50%/100% 100%;
    width: 36px;
    height: 36px;
    display: none;
    transition: .3s;
    &.swiper-button-prev:after {
      content: none;
    }
  }
  &:hover {
    .customized-swiper-button-prev, .customized-swiper-button-next {
      display: block;
    }
  }
}