
.head-main {
  width: 100%;
  position: sticky;
  z-index: 999;
  top: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  color: #000;
  background: #292525;
}

.head-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.bottom-bar {
  width: 100%;
  background: black;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}
.mobile-pages-main {
  width: 100%;
  background: white;
  display: none;
}
.head-logo {
  font-size: 2rem;
}
.head-logo-link {
  color: #fff;
}
small {
    font-family: "Raleway";
}

.mobile-bio-main {
  background: white;
  display: none;
}

.link-btn {
  background: transparent;
  border: 0;
}
button.link-btn:focus {
  outline: none;
}

@media only screen and (max-width: 850px) {
  .bottom-bar{display: none;}
  .social-links{display: none;}
  .mobile-pages-main{display: none;}
  .mobile-bio-main{
    display: none;
    flex-direction: row;
    justify-content: space-between;
  }
}